[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule "bundle/haml"]
	path = bundle/haml
	url = git://github.com/tpope/vim-haml
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = git://github.com/pangloss/vim-javascript
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = git://github.com/vim-ruby/vim-ruby
[submodule "bundle/scss"]
	path = bundle/scss
	url = git://github.com/cakebaker/scss-syntax.vim
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = git://github.com/tpope/vim-endwise
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://github.com/wincent/Command-T
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = git://github.com/tpope/vim-commentary
[submodule "bundle/vim-pep8"]
	path = bundle/vim-pep8
	url = git://github.com/nvie/vim-pep8.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = git://github.com/klen/python-mode
[submodule "bundle/vim-flavored-markdown"]
	path = bundle/vim-flavored-markdown
	url = git://github.com/jtratner/vim-flavored-markdown.git
